@import "style/variables.scss";
@import "style/mixins.scss";
.header,
.footer {
  width: 100%;
  background-color: $bgLayout;
}
.header {
  height: 400px;
  padding-top: 30px;
}
.header__home-h1 {
  font-weight: bold;
  color: $black;
  font-size: 25px;
  margin-bottom: 30px;
  font-family: "Sofia", sans-serif;
  text-shadow: 3px 3px 3px #898585;
  cursor: pointer;
}
.header__home-texts {
  margin-bottom: 10px;
  .header__home-text1,
  .header__home-text2,
  .header__home-text3 {
    color: $gray;
    font-size: 20px;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #898585;
  }
  .header__home-text2 {
    margin: 10px 0px 10px 0px;
  }
}
.footer {
  height: 60px;
}

.header__content {
  display: flex;
}

.header__left-img {
  width: 250px;
  height: 350px;
  border-radius: 10px;

  img {
    @include WidthHigth;
    border-radius: 10px;
  }
  :hover{
    transform: scale(1.05); 
  }
}
.header__rigth {
  padding: 20px;
}
.header__rigth-h3 {
  font-size: 30px;
  margin: 20px 0px 20px;
}
.header__rigth-text{
  line-height: 23px;
  color: rgb(43, 42, 42);
}

@media (max-width: 778px) {
  .header {
    height: auto;
  }
  .header__container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .header__content {
    @include WidthHigth;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header__left-img {
    width: 100%;
    height: 600px;
  }
  .header__rigth {
    padding: 20px 0px 20px;
  }
}